$border-color: #CCC;
$box-shadow-color: #d6d6d6;
$cell-hover-color: #888484;
$inactive-text-color: #9c9c9c;
$container-width: 1200px;
$max-mobile-width: 640px;

body {
  margin: 0;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;

  p {
    margin: 8px 0;
  }
}

.container {
  padding: 60px 20px;
  margin: 0 auto;
  max-width: $container-width;
}

.loading-container {
  text-align: center;

  .loader {
    width: 200px;
    margin-top: 10px;
  }
}
