@import "global";

$icon-color: #929191;
$collapsed-view-port: 1000px;

.homepage {

  .top {
    position: relative;

    .image-overlay {
      width: 100%;
      height: 200px;
      overflow: hidden;
    }

    .title {
      top: 50%;
      left: 50%;
      color: #FFF;
      margin: 0 auto;
      font-size: 30px;
      text-align: center;
      position: absolute;
      transform: translate(-50%, -50%);
      font-family: Pacifico, sans-serif;

      @media(min-width: $collapsed-view-port) {
        font-size: 50px;
      }
    }

    .dim-overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: #000;
      opacity: 0.35;
      z-index: 0;
    }
  }

  .search-box {
    margin-top: 40px;
    text-align: center;

    input {
      width: 100%;
      border: none;
      font-size: 15px;
      text-align: center;
      border-bottom: 1px solid $border-color;
      font-family: 'Open Sans', sans-serif;

      @media(min-width: $collapsed-view-port) {
        width: 40%;
        font-size: 30px;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .results {
    text-align: center;

    .users {
      padding: 0;
      font-size: 13px;
      margin-top: 20px;

      li {
        width: 100%;
        padding: 10px 0;
        cursor: pointer;
        list-style: none;
        margin: 20px auto;
        border-radius: 3px;
        box-shadow: 0px 0px 6px $box-shadow-color;

        @media(min-width: $max-mobile-width) {
          width: 295px;
        }

        &:hover {
          border: 0px 0px 6px $cell-hover-color;
        }

        @media(min-width: $collapsed-view-port) {
          width: 40%;
          padding: 0;
          display: flex;
        }

        .icon {
          @media(min-width: $collapsed-view-port) {
            height: 115px;
            flex: 0 0 17%;
          }

          .image {
            border: 1px solid #CCC;
            border-radius: 100%;

            @media(min-width: $collapsed-view-port) {
              margin: 0;
              border: none;
              border-radius: 0;
            }
          }
        }

        .details {
          padding: 0 10px;
          text-align: left;
          margin-left: 15px;
          position: relative;

          @media(min-width: $collapsed-view-port) {
            flex: 0 1 80%;
            padding-left: 20px;
          }

          p {
            margin: 10px 0;
          }

          .stats {
            width: 100%;

            @media(min-width: $collapsed-view-port) {
              bottom: 10px;
              position: absolute;
            }

            span {
              width: 25%;
              font-size: 13px;
              color: $icon-color;
              padding-right: 10px;
              display: inline-block;

              i {
                margin-right: 7px;
                color: $icon-color;
              }
            }
          }
        }
      }
    }

    .suggestions {
      text-align: left;
      margin: 100px auto 0 auto;
      max-width: $container-width;

      .title {
        margin: 0 10px;
        font-weight: bold;
      }

      .users {

        @media(min-width: $max-mobile-width) {
          display: flex;
        }

        li {
          width: 100%;

          @media(min-width: $max-mobile-width) {
            margin: 0 10px;
          }

          .icon {
            text-align: center;
          }

          .details {
            padding-left: 0;

            .stats span {
              width: 28%;
              font-size: 12px;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
