@import "global";
@import url('https://fonts.googleapis.com/css?family=Lobster|Open+Sans|Pacifico&display=swap');
@import url('https://use.fontawesome.com/releases/v5.8.2/css/all.css');

.header {
  color: #FFF;
  padding: 20px 40px;
  background: #000;

  .nav-item {
    display: inline-block;

    &.logo {
      color: #FFF;
      font-size: 20px;
      text-decoration: none;
      font-family: Lobster, sans-serif;
    }

    &.menu-item {
      float: right;
      color: #FFF;
      font-size: 14px;
      text-decoration: none;
      font-family: 'Open Sans', sans-serif;
    }
  }
}
