@import "global";
$secondary-width: 40%;
$details-resize-width: 1300px;

.profile {

  .details,
  .navigation {
    padding: 10px;
    margin: 0 auto;

    @media(max-width: $max-mobile-width) {
      padding: 10px 0;
    }
  }

  .details {
    display: flex;
    border-radius: 5px;
    width: $secondary-width;
    box-shadow: 0 0 6px $box-shadow-color;

    @media(max-width: $details-resize-width) {
      width: 100%;
      display: block;
      max-width: 300px;
      text-align: center;
    }

    .pic {
      flex: 0 0 20%;
      margin-top: 7px;
      text-align: center;
      padding-left: 40px;

      img {
        border-radius: 100%;
        border: 1px solid $border-color;
      }
    }

    .info {
      flex: 0 0 55%;
      padding-left: 40px;

      .name {
        font-size: 18px;
        font-weight: bold;
      }

      .stats,
      .about {
        font-size: 13px;
        color: $inactive-text-color;

        @media(max-width: $details-resize-width) {
          text-align: left;
          padding-left: 45px;
        }
      }

      .stats {
        span {
          margin-right: 20px;
        }
      }
    }

    @media(max-width: $details-resize-width) {
      .pic,
      .info {
        padding: 0;
      }
    }
  }

  .navigation {
    width: 100%;
    margin-top: 30px;
    text-align: center;

    span {
      font-size: 14px;
      cursor: pointer;
      margin-right: 20px;
      display: inline-block;
      text-transform: uppercase;
      color: $inactive-text-color;

      &.active {
        color: #000;
        font-weight: bold;
      }
    }
  }

  .content {

    .items {
      padding: 0;
      display: flex;
      list-style: none;
      flex-flow: row wrap;
      justify-content: space-around;

      .cell {
        width: 270px;
        margin: 20px 0;
        cursor: pointer;
        min-height: 217px;
        padding-bottom: 20px;
        box-shadow: 0 0 6px $box-shadow-color;

        &:hover {
          box-shadow: 0 0 6px $cell-hover-color;
        }

        img {
          width: 100%;
          min-height: 211.3px;
        }

        &.following,
        &.followers {

          cursor: auto;

          .block {
            text-align: center;

            img {
              width: auto;
              margin-top: 15px;
              border-radius: 100%;
            }
          }
        }

        .project-info {
          padding: 0 20px;
        }

        &.invisible {
          box-shadow: none;
        }

        a {
          text-decoration: none;
        }

        .block {
          color: #000;

          .title {
            font-size: 14px;
          }

          .stats {
            font-size: 12px;
            margin-top: 13px;
            margin-top: 13px;
            font-weight: bold;
            color: $inactive-text-color;

            span {
              margin-right: 15px;
            }
          }
        }
      }

      .work {
        width: 100%;
        font-size: 14px;
        padding: 10px 5px;
        border-bottom: 1px solid $border-color;

        .organization {
          font-size: 16px;
          font-weight: bold;

          .location {
            font-size: 14px;
            font-style: italic;
            color: $inactive-text-color;
          }
        }
      }
    }
  }
}